InsuranceHealth_API/EmbeddedResources/ClaimProce/webServices/ClaimProce/ClaimProce_2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HP.SOAQ.ServiceSimulation.Demo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HP.SOAQ.ServiceSimulation.Demo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Claim">
    <xs:sequence>
      <xs:element minOccurs="0" name="adjustedAmount" type="xs:float" />
      <xs:element minOccurs="0" name="approvalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="approved" type="xs:boolean" />
      <xs:element minOccurs="0" name="claimedAmount" type="xs:float" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="memberId" nillable="true" type="tns:MemberId" />
      <xs:element minOccurs="0" name="reimbursed" type="xs:boolean" />
      <xs:element minOccurs="0" name="socialSecurityNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Claim" nillable="true" type="tns:Claim" />
  <xs:complexType name="MemberId">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberId" nillable="true" type="tns:MemberId" />
  <xs:complexType name="ClaimId">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimId" nillable="true" type="tns:ClaimId" />
  <xs:complexType name="MemberNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberNotFoundFault" nillable="true" type="tns:MemberNotFoundFault" />
  <xs:complexType name="ArrayOfClaimId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimId" nillable="true" type="tns:ClaimId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaimId" nillable="true" type="tns:ArrayOfClaimId" />
  <xs:complexType name="ClaimNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimNotFoundFault" nillable="true" type="tns:ClaimNotFoundFault" />
</xs:schema>